
.framework-list {

	.card {
		height: 355px;
		.card-image {
			img {
				width: 200px;
				height: 200px;
				margin: auto;
			}
		}
		p {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}

}